body {
    background-color: green;
}












/* debug */
.box {
    height: 50px;
    min-width: 20px;
    width: 100%;
    background-color: greenyellow;
}

.container {
    border: 1px solid red;
}