/* common */

body {
    font-family: 'Roboto', sans-serif;
}

.bgr_fix {
    background-repeat: no-repeat;
    background-position: center;
}

.border_rad_15 {
    border-radius: 15px;
}

.ps_blue {color: #0070d1;}

.bgr_fix img {
    width: 280px;
}

/* fine common */

/* header */
header {
    background-color: black;
}

header img {
    width: 50px;
}
/* fine header */

/* returnal */

.returnal {
    height: 675px;
    background-image:url(../img/jumbo-bg.png);
    background-color: black;
}

/* fine returnal */

/* it takes two */
.it_takes_two {
    height: 956px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/* fine it takes two */

/* nuove uscite */
.nuove_uscite {
    background-color: #1f1f1f;
}
/* fine nuove uscite */

/* play plus */
.play_plus {
    background-color: #bebcbb;
}
/* play plus e now */
.play_plus button, .play_now button {
    background-color: #d9dadc;
}
/* play now */
.play_now {
    background-color: #161c3b;
}
/* fine play now */

/* debug */

.box {
    height: 50px;
    width: 100px;
    background-color: greenyellow;
    border: 1px solid black;
}

section {
    border: 1px solid orange;
}

.container {
    border: 1px solid red;
}

