/* common */

body {
    font-family: 'Roboto', sans-serif;
}

.bgr_fix {
    background-repeat: no-repeat;
    background-position: center;
}

.border_rad_15 {
    border-radius: 15px;
}

.ps_blue {color: #0070d1;}

.bgr_fix img {
    width: 280px;
}

.ms_py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* fine common */

/* header */
header {
    background-color: black;
}

header img {
    width: 50px;
}
/* fine header */

/* returnal */

.returnal {
    height: 675px;
    background-image:url(../img/jumbo-bg.png);
    background-color: black;
}

/* fine returnal */

/* it takes two */
.it_takes_two {
    height: 956px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/* fine it takes two */

/* nuove uscite */
.nuove_uscite {
    background-color: #1f1f1f;
}
/* fine nuove uscite */

/* play plus */
.play_plus {
    background-color: #bebcbb;
}
/* play plus e now */
.play_plus button, .play_now button {
    background-color: #d9dadc;
}
/* play now */
.play_now {
    background-color: #161c3b;
}
/* fine play now */

/* footer bottom */
.footer_bottom {
    background-color: #00439c;
}

.footer_bottom ul li {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

/* footer bottom */

